appdirs==1.4.4
attrs==20.1.0
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
fake-useragent==0.1.11
form==0.0.1
future==0.18.2
hachoir==3.1.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itemadapter==0.1.0
itemloaders==1.0.2
jmespath==0.10.0
lxml==4.5.2
numpy==1.19.1
opencv-python==4.4.0.42
pandas==1.1.2
paramiko==2.7.1
parse==1.17.0
parsel==1.6.0
pikepdf==1.19.0
Pillow==7.2.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.3
PyHamcrest==2.0.2
PyMuPDF==1.17.6
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyppeteer==0.2.2
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyquery==1.4.1
python-dateutil==2.8.1
python-whois==0.7.3
pytz==2020.1
queuelib==1.5.0
requests==2.24.0
requests-html==0.10.0
scapy==2.4.3
Scrapy==2.3.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
stem==1.8.0
tqdm==4.48.2
Twisted @ file:///C:/Users/Daniele/Desktop/LGK-Hub/Twisted-20.3.0-cp38-cp38-win_amd64.whl
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
whois==0.9.7
wikipedia==1.4.0
zope.interface==5.1.0
